@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Overpass&display=swap');


html {
  /* background: #28103B; */
  background: #7f0000;
  color: white;
}

img {
  image-rendering: pixelated;
}

#content {
  width: 400px;
  margin: 0 auto;
}

#title-image {
  margin: 40px auto;
}

.title {
  font-family: Arial;
  text-align: center;
}

#leaderboard {
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translateX(-50%) translateY(-50%); */

  font-size: 20px;
}

table {
  border-collapse: collapse;
  border-radius: 15px;
}

#leaderboard-body {
  font-family: 'Overpass', sans-serif;
}

#leaderboard-head {
  font-family: 'Bungee', sans-serif;
  display: none;
}

td, th {
  padding: 5px 40px 5px;
}

tr:nth-child(odd) {
  background: #34022b;
}

tr:nth-child(even) {
  background: #63002f;
}
